<!DOCTYPE html>
<html>
  <head>
    <title>AmazonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav>
        <a href="/">Home</a>
        |
        <a href="/about">About</a>
        |
        <a href="/contact">Contact</a>
        |
        <%= link_to "Products", products_path %>
        |
        <%= link_to "New Product", new_product_path %>
    </nav>
    <br />
    <div>
        <% if user_signed_in? %>
          Hello <%= current_user.full_name %>,
          <%= link_to "Logout", session_path, method: :delete,
                  data: {confirm: "are you sure you want to log out?"}%>
        <% else %>
          <%= link_to "Login", new_session_path %> |
          <%= link_to "Sign Up", new_user_path %>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
