<h1><%= @product.title%> </h1>
<p><%= @product.description%></p>
<small>$<%= format("%.2f",@product.price)%></small>

<h5>
created by: <%= @product.user&.full_name%>
</h5>
      Tags:   <%#= @product.tags.map(&:name).join(', ')%>
      <% @product.tags.each do |tag|  %>
            <%= link_to(
                  tag.name,
                  tags_path,
                  class: "badge badge-pill badge-primary"
                  ) %>
          <% end %>
          <br>
<div>

<small>
    <%= link_to("Delete", product_path(@product) ,method: :delete, data:{confirm:"Are you sure?"}) %>
</small>
|
<small>
    <%= link_to("Edit", edit_product_path(@product.id)) %>
</small>
|
<% if @favourite%>
  <%= link_to @favourite.is_favourite ? "Cancel Favourite" : "Cancel Unavourite", favourite_path(@favourite), class:"btn btn-light ", method: :delete%>
<% else%>
  <%= form_with(url: product_favourites_path(@product), local: true) do |f| %>
  <input type="hidden" name="is_favourite" value="true">
  <%= f.submit "Favourite", class:"btn btn-info" %>
  <% end %>
  <%= form_with(url: product_favourites_path(@product), local: true) do |f| %>
  <input type="hidden" name="is_favourite" value="false">
  <%= f.submit "Unfavourite", class:"btn btn-dark" %>
  <% end %>
<% end %>
</div>


<h3>
    Put a review here
</h3>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model:[@product,@review], local: true do |form|%>
<div>
    <%= form.label :body%>
    <%= form.text_area :body%>
</div>
<div>
    <%= form.label :rating%>
    <%= form.text_field :rating%>
</div>
<div>
    <%= form.submit%>
</div>

<% end %>


<ul>
<% @reviews.each do |review|%>
    <li>
    <small>rating:  <%= review.rating%></small>
    <br />
    <%= review.body%>
    <br />
    <h5>
    created by: <%= review.user&.full_name%>
    </h5>
    <small>
    <%= link_to("Delete", product_review_path(@product.id, review) ,method: :delete, data:{confirm:"Are you sure?"}) %>
    </small>
    |
    <% if review.likes.find_by(user: current_user).present?  && can?(:destroy, review.likes.find_by(user: current_user)) %>
      <%= link_to(
        "Unlike",
        like_path(review.likes.find_by(user: current_user)), 
        class:"btn btn-danger ",
        method: :delete
        ) %>
      <% else can?(:like, review) %>
      <%= link_to(
              "Like",
              product_review_likes_path(@product,review),
              class:"btn btn-success ",
              method: :post
        ) %>
      <% end %>
      <small>
        (<%= pluralize(review.likes.count, "like") %>)
      </small>
    </li>
      |
      <% vote = review.votes.find_by(user: current_user) %>
      <% if vote%>
        <%= link_to vote.is_vote ? "Cancel Vote Up" : "Cancel Vote Down", vote_path(vote), class:"btn btn-light ", method: :delete%>
      <% elsif can?(:vote, review)%>
        <%= form_with(url: product_review_votes_path(@product,review), local: true) do |f| %>
        <input type="hidden" name="is_vote" value="true">
        <%= f.submit "Vote Up", class:"btn btn-info" %>
        <% end %>
        <%= form_with(url: product_review_votes_path(@product,review), local: true) do |f| %>
        <input type="hidden" name="is_vote" value="false">
        <%= f.submit "Vote Down", class:"btn btn-dark" %>
        <% end %>
      <% end %>
      |      
      <small>
        (<%= pluralize(review.votes.where(is_vote: true).count, "vote up") %>)
      </small>
      |      
      <small>
        (<%= pluralize(review.votes.where(is_vote: false).count, "vote down") %>)
      </small>
<% end %>
</ul>